<%- layout('layout') -%>

  <div class="relative w-3/4 min-h-full px-5 py-10 mx-auto sm:rounded-lg">

    <%- partial('crud-form', { modalId: "createModal" }) -%>

      <!-- Table Controls -->
      <div class="flex items-center min-h-max">
        <form method="POST" action="/search" class="mr-2">
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative mb-2">
            <div class="absolute inset-y-0 flex items-center pointer-events-none rtl:inset-r-0 start-0 ps-3">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text" id="table-search" name="q"
              class="block pt-2 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 w-80 bg-gray-50 focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
              placeholder="Search for users" value="<% if (searchQuery) { %><%= searchQuery %><% } %>">
          </div>
        </form>

        <div>
          <!-- show a reset button if search has input -->
          <% if (searchQuery) { %>
            <a href="/"
              class="edit-btn text-red-700 hover:text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Reset
            </a>
            <% } %>

              <button type="button" data-modal-target="createModal" data-modal-toggle="createModal"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Create new user
              </button>
        </div>
      </div>

      <!-- Table Data -->
      <main class="h-max max-h-[80vh] overflow-auto min-h-max mt-1 relative overflow-x-auto shadow-md rounded-lg">
        <table class="w-full text-left text-gray-500 rtl:text-right dark:text-gray-400">
          <thead class="text-sm text-gray-700 uppercase dark:text-gray-400 bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col" class="px-6 py-3">ID</th>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Email Address</th>
              <th scope="col" class="px-6 py-3">City</th>
              <th scope="col" class="px-6 py-3">Country</th>
              <th scope="col" class="px-6 py-3 text-center">Actions</th>
            </tr>
          </thead>

          <tbody class="text-center">
            <% if (fetchData.length) { %>
              <% fetchData.forEach((data, index)=> { %>
                <tr
                  class="border-b odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= data.id %>
                  </th>
                  <td class="px-6 py-4 font-normal">
                    <%= data.full_name %>
                  </td>
                  <td class="px-6 py-4 font-normal">
                    <%= data.email_address %>
                  </td>
                  <td class="px-6 py-4 font-normal">
                    <%= data.city %>
                  </td>
                  <td class="px-6 py-4 font-normal">
                    <%= data.country %>
                  </td>
                  <td class="px-6 py-4 space-x-1 text-center">
                    <button href="/crud/edit/<%= data.id %>" data-target-id="<%= data.id %>"
                      data-modal-target="<%= index %>" data-modal-toggle="<%= index %>"
                      class="edit-btn text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Edit</button>

                    <a href="/crud/delete/<%= data.id %>"
                      class="edit-btn text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</a>
                  </td>
                </tr>

                <!-- Edit Modal -->
                <%- partial('crud-form', { modalId: index, editData: data }) -%>
                  <% }) %>
                    <% } else { %>
                      <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td colspan="6"
                          class="px-6 py-4 font-bold text-center text-gray-900 whitespace-nowrap dark:text-white">
                          No data found
                        </td>
                      </tr>
                      <% } %>
          </tbody>
        </table>
      </main>
  </div>